! special
*.foreground:   #dfe5f2
*.background:   #21242b
*.cursorColor:  #dfe5f2

! black
*.color0:       #4b5263
*.color8:       #4b5263

! red
*.color1:       #ff6e7a
*.color9:       #ff6e7a

! green
*.color2:       #c0fa96
*.color10:      #c0fa96

! yellow
*.color3:       #ffd587
*.color11:      #ffd587

! blue
*.color4:       #6ebeff
*.color12:      #6ebeff

! magenta
*.color5:       #e387ff
*.color13:      #e387ff

! cyan
*.color6:       #66deed
*.color14:      #66deed

! white
*.color7:       #dfe5f2
*.color15:      #dfe5f2

Xft.dpi:        96
Xft.rgba:       rgb
Xft.hinting:    true
Xft.autohint:   true
Xft.antialias:  true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcdfilter

*.font:         hack:size=15:antialias=true:autohint=true
*.shell:        /bin/sh
*.cwscale:      1.0
*.chscale:      1.0
*.borderpx:     35
*.termname:     st-256color
*.tabspaces:    8
*.minlatency:   8
*.maxlatency:   33
*.bellvolume:   0
*.blinktimeout: 800
